<!DOCTYPE html>
<html>
  <body>
    <script>
      (() => {
          // Create Canvas
          const myCanvas = document.createElement('canvas');
          myCanvas.width = 2000;
          myCanvas.height = 1000;
          document.body.appendChild(myCanvas);
          const ctx = myCanvas.getContext('2d');

          // Start drawing
          function checkIfBelongsToJuliaSet(x,y) {
            r = 2236
            let zx = x; //realComponentOfResult
            let zy = y; //imaginaryComponentOfResult
            // Set max number of iterations
            var iteration = 0
            const maxIterations = 100;
            while (zx*zx + zy*zy <= (r**2) && iteration < maxIterations && !(iteration===maxIterations)) {
              const tempRealComponent = zx * zx - zy * zy + 2;
              const tempImaginaryComponent = 2.0 * zx * zy + 1;
              zx = tempRealComponent;
              zy = tempImaginaryComponent;
              
              iteration + 1;
            }

            if (iteration === maxIterations) {
                return 0;
              } else {
                return (iteration / maxIterations * 100);
              }
              
            
          }

          // Set appearance settings
          const magnificationFactor = 200;
          const panX = 4;
          const panY = 2;
          for (let x = 0; x < myCanvas.width; x++) {
            for (let y = 0; y < myCanvas.height; y++) {
              const belongsToSet = checkIfBelongsToJuliaSet(x / magnificationFactor - panX, y / magnificationFactor - panY);
              if (belongsToSet === 0) {
                ctx.fillStyle = '#000';
                // Draw a black pixel
                ctx.fillRect(x,y, 1,1);
              } else {
                ctx.fillStyle = `hsl(20, 200%, ${belongsToSet}%)`;
                // Draw a colorful pixel
                ctx.fillRect(x, y, 1, 1);
              }
            }
          }
      })();
    </script>
  </body>
</html>