.blackBackground{
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
}

.buttonGroup{
  position: absolute;
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;

}

.formDiv{
  position: absolute;
  margin-top: 2%;
  width: 20%;
}

.formSettingsDiv{
  text-align: center;
  background: grey;
  border-radius: 0 0.75em 0.75em 0;
  float: left;
  transition: width 1s;
  transition-timing-function: ease-out;
  overflow-y: hidden;
  overflow-x: hidden;
}

.formSettingWrapper{
  display: inline-block;
  padding:1em;
}

.formButtonDiv{
  margin-top: 30%;
  width: 25%;
  height: 25%;
  float: left;
}

#formButton{
  border-radius: 0 0.75em 0.75em 0;
  width: 50%;
}

#formButtonDiv:hover + .formSettingsDiv{
  width:75%;
}

#formButtonIcon{
  margin-right: 25%;
}
